.content-wrapper {
    width: 100%;
    max-width: 840px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.navbar-container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%); /* keeps it centered */

    z-index: 1000;

    display: flex;
    gap: 12px;
    width: 100%;
    max-width: 840px;
}

.nav-links-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    background-color: var(--bg);
    border-bottom: 2px solid var(--border);
    border-left: 2px solid var(--border);
    border-right: 2px solid var(--border);
    padding: 0 24px;
}

.nav-links {
    display: flex;
    gap: 32px;
}

.nav-item {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: var(--text);
}

.theme-toggle {
    width: 80px;
    height: 55px;
    background-color: var(--bg);
    border-bottom: 2px solid var(--border);
    border-left: 2px solid var(--border);
    border-right: 2px solid var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--text);
}

.icon-sun-moon svg {
    width: 24px;
    height: 24px;
}