.project-container {
    z-index: 0;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    min-height: 100%;
    background-color: var(--bg);
}

.project-titlebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
}

.src-btn {
    text-decoration: none;
    background-color: var(--bg);
    border: 1px solid #333333;
    border-radius: 4px;
    color: var(--text);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease;
    width: fit-content;
    min-width: 90px;
    height: 32px;
    padding: 0 12px;
    gap: 8px;
    font-family: 'Inter', sans-serif;
    font-weight: 550;
    font-size: 11px;
}

.src-btn p {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.src-btn svg {    
    width: 14px;
    height: 14px;
    display: flex;
    stroke: currentColor;
    stroke-width: 2px;
    flex-shrink: 0;
    transform: translateY(1px);
}

.src-wrapper {
    display: flex;
    gap: 7px;
    align-items: center;
    margin-top: auto;
    padding-bottom: 10px;
}

.project-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3%;
}

.project-display {
    z-index: 0;    
    width: 100%;
    border: 1px solid #333333;
    border-radius: 12px;
    overflow: hidden;
    min-height: 250px;
    background-color: var(--bg);
}

.project-display-url {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    width: 100%;
    min-height: 250px;
    background-color: var(--bgt);
}

.project-display-content {
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    padding-inline: 2%;
    z-index: 0;
    width: 100%;
    border-top: 1px solid #333333;
    min-height: 250px;
    background-color: var(--bg-content);
}

.stack-btn {    
    text-decoration: none;
    background-color: var(--bg);
    border: 1px solid
}