:root {
    --bg: #09090b;
    --bg-content: #09090b;
    --text: #F8F8F2;
    --border: #F8F8F2;
}

[data-theme='light'] {
    --bg: #F8F8F2;
    --bg-content: #F8F8F2;
    --text: #09090b;
    --border: #09090b;
}

.layout-root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg);
    color: var(--text); 
    transition: background-color 0.2s ease, color 0.2s ease;
}